@page "/logic"
<h3>Logic Seperate Component</h3>
<p>A simple component that seperates the <code>HTML</code> markup and <code>C#</code> into seperate files.</p>
<p>Files for this model include:</p>
<ul>
    <li>UI File: <code>LogicSeperateComponent.razor</code></li>
    <li>Logic File (<code>Partial Class</code>): <code>LogicSeperateComponent.razor.cs</code></li>
</ul>

<br />
<h4>@displayMessage</h4>
<br />
<hr />
<div class="row">
    <div class="col-3">
        <button @onclick="ButtonClick" class="btn btn-primary" disabled="@buttonDisabled">Click ME!</button>
        <br />
        <label for="disableButtonClick">Disable Button Click</label>
        <input type="checkbox" id="diableButtonClick" @onchange="ToggleButton" />
    </div>
    <div class="col-3">
        <p>Input Value:  @inputText</p>
        <input type="text" @onchange="InputTextChange" />
    </div>
</div>
<br />
<hr />
<h5>Sample Form</h5>
<div class="row">
    <div class="col-3">
        <EditForm class="form-group" Model="Model" OnValidSubmit="FormSubmit" OnInvalidSubmit="InvalidFormSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label>Title</label>
            <InputSelect @bind-Value="@Model.Title" class="form-control" style="width:40%">
                <option value="">Select Title...</option>
                @foreach (var title in Titles)
                {
                    <option value="@title">@title</option>
                }
            </InputSelect>
            <label>Firstname</label>
            <InputText @bind-Value="@Model.Firstname" class="form-control" />
            <label>Lastname</label>
            <InputText @bind-Value="@Model.Lastname" class="form-control" />
            <label>Email</label>
            <InputText @bind-Value="@Model.Email" class="form-control" />
            <label>Bio</label>
            <InputTextArea @bind-Value="@Model.Bio" class="form-control"></InputTextArea>
            <br />
            <button class="btn btn-success" type="submit">Submit</button>
        </EditForm>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
        <h6>Valid Form Output</h6>
        <code class="codeblock">
            class FormControl
            <br />
            {<br />
            &emsp;&emsp;Title: @SubmittedModel.Title<br />
            &emsp;&emsp;Firstname:  @SubmittedModel.Firstname<br />
            &emsp;&emsp;Lastname: @SubmittedModel.Lastname<br />
            &emsp;&emsp;Email:  @SubmittedModel.Email<br />
            &emsp;&emsp;Bio: @SubmittedModel.Bio<br />
            }<br />
        </code>
    </div>
</div>

